/* Root */

.container{
    padding: 0 5%;
}

:root{
    --primary-color: #31c9c0;  
    --grey-color: #858997;
    --dark-blue: #292936;
    --light-grey: #8589972e;
}

/* Menu */

.container__menu{
    background: #1f1f21;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo__text{
    font-size: 24px;
    color: #34d3c8;
    border: 1px solid var(--primary-color);
    border-radius: 30px;
    padding: 5px 10px;
}

.link__menu{
    color: var(--grey-color);
    margin-left: 20px;
    transition: 0.3s;
}

.link__menu:nth-child(1){
    color: #fff;
}

.logo__category{
    display: flex;
    align-items: center;
}

.info__text{
    color: #fff;
}

.info__text span{
    color: var(--grey-color);
    margin: 0px 5px;
}

.info__text i{
    color: #fff;
    font-size: 18px;
}

.link__menu:hover{
    color: #fff;
}

/* Search */

.container__search{
    padding: 25px 0;
    background: var(--dark-blue);
    border-bottom-left-radius: 100px ;
    border-bottom-right-radius: 100px ;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.link__sc{
    color: #fff;
}

.link__sc i{
    margin-right: 10px;
}

.form{
    display: flex;
    position: relative;
    align-items: center;
}

.inp__search{
    width: 600px;
    height: 50px;
    border-radius: 50px;
    font-family: 'Comfortaa', cursive !important;
    font-weight: 800;
    font-size: 16px;
    padding-left: 25px;
    outline: none;
}

.inp__submit{
    width: 150px;
    position: absolute;
    right: 5px;
    border-radius: 50px;
    height: 45px;
    top: 50%;
    transform: translate(-1%,-50%);
    background: var(--primary-color);
    border: none;
    font-family: 'Comfortaa', cursive !important;
    font-weight: 800;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    box-shadow: 0 5px 10px #21c0b74d;
}

.login__text{
    color: var(--grey-color) !important;
    margin-left: 5px;
}

.login__cart span{
    color: #fff;
    margin: 0px 5px;
}

.link__cart i{
    color: #fff;
    font-size: 21px;
}

.link__login i{
    color: #fff;
    font-size: 21px;
}

/* Banner */

.container__banner{
    padding-top: 50px;
    display: flex;
}

.block__category{
    display: flex;
    width: 30%;
    flex-direction: column;
    margin-right: 20px;
}

.block__category a{
    margin-bottom: 10px;
    font-size: 18px;
    color: black;
    font-weight: 300;
    border-bottom: 1px solid var(--light-grey);
    padding: 10px 0;
    display: flex;
    align-items: center;
    position: relative;
    transition: 0.3s;
}

.block__category a i{
    font-size: 24px;
    margin-right: 10px;
    width: 30px;
}

.block__category a span i{
    font-size: 12px;
    position: absolute;
    right: -25px;
    top: 50%;
    transform: translate(-50%,-50%);
}

.block__category a:last-child{
    margin-bottom: 0px;
}

.block__category a:hover{
    color: var(--primary-color);
}

.block__banner{
    width: 70%;
    background-color: black ;
}

/* Popular */

.container__popular{
    padding: 150px 5%;
}

.block__cards{
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
}

.container__popular h2{
    font-size: 42px;
}

.card__border{
    border: 4px solid #fff;
    padding: 0px 25px;
    margin-right: 20px;
    height: 625px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    transition: 0.3s;
}

.card__border:nth-child(-n+4){
    margin-bottom: 20px;
}

.card__border:last-child{
    margin-right: 0;
}

.card__border:hover{
    border: 4px solid var(--primary-color);
    border-radius: 18px;
}

.btn__buy{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    background: var(--primary-color);
    border: none;
    text-align: center;
    cursor: pointer;
}

.block__curr{
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.img__card{
    width: 225px;
    height: 325px;
    position: relative;
    background: black;
}

.block__title{
    padding: 20px 0;
    font-size: 21px;
    display: flex;
    justify-content: space-between;
}

.block__desc{
    padding-top: 20px;
}

.block__score{
    padding: 5px 0;
}

.card{
    display: flex;
    flex-direction: column;
}

.price{
    color: var(--primary-color);
    font-size: 32px;
    font-weight: 900;
}

.block__title h3{
    font-size: 21px;
    font-weight: 900;
}

.first__price{
    color: var(--grey-color);
    font-size: 18px;
    font-weight: 800;
    text-decoration: line-through black 1px !important;
}

.last__price{
    margin-top: 10px;
    color: var(--primary-color);
    font-size: 32px;
    font-weight: 900;
}

.sale{
    background: #f25050;
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    border-radius: 10px;
    font-size: 12px;
    color: #fff;
    position: absolute;
    right: 10px;
    top: 10px;
}

.hidden{
    visibility: hidden;
}

/* News */

.container__news{
    padding-bottom: 100px;
}

.container__news h2{
    font-size: 42px;
    margin-bottom: 50px;
}

.img__news{
    width: 200px;
    height: 130px;
    background-color: black;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

.block__data{
    padding: 20px 0;
}

.card__news{
    display: flex;
    flex-direction: column;
    width: 200px;
    text-align: center;
    border: 4px solid var(--light-grey);
    border-radius: 18px;
    transition: 0.3s;
    margin-right: 10px;
}

.card__news:last-child{
    margin-right: 0;
}

.desc__news{
    padding: 10px 0;
}

.card__news:hover{
    border: 4px solid var(--primary-color);
    border-radius: 18px;
}

.card__news h3{
    color: var(--primary-color);
}

.block__news{
    display: flex;
}

/* Contact */

.container__contact{
    padding: 30px 5%;
    background: var(--dark-blue);
    border-top-right-radius:30px ;
    border-top-left-radius:30px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contacts span{
    color: #fff;
    margin-bottom: 20px;
}

.contacts span:last-child{
    margin-bottom: 0;
}

.contacts{
    display: flex;
    flex-direction: column;
}

/* Filter */

.container__shop{
    padding: 50px 5%;
    display: flex;
}

.filter{
    width: 49%;
}

.inp__search__filter{
    width: 100%;
    height: 50px;
    border-radius: 50px;
    font-family: 'Comfortaa', cursive !important;
    font-weight: 800;
    font-size: 16px;
    outline: none;
    text-align: center;
    padding: 0 !important;
}

.inp__submit__filter{
    width: 100%;
    border-radius: 50px;
    height: 45px;
    background: var(--primary-color);
    border: none;
    font-family: 'Comfortaa', cursive !important;
    font-weight: 800;
    font-size: 16px;
    cursor: pointer;
    margin-top: 25px;
    color: #fff;
    box-shadow: 0 5px 10px #21c0b74d;
}

.filter h3{
    margin: 20px 0;
    font-size: 21px;
}

.search{
    border-bottom: 2px solid var(--light-grey);
    padding: 10px 0;
}

.category__filter{
    display: flex;
    flex-direction: column;
}

.category input{
    zoom: 2;
}

.category{
    display: flex;
    align-items: center;
}

.card__border__filter{
    margin-left: 25px;
    border: 4px solid #fff;
    padding: 10px;
}

.card__border__filter:hover{
    border: 4px solid var(--primary-color);
}

.card__filter{
    margin-left: 20px;
}

.block__products{
    display: flex;
    flex-wrap: wrap;
}